{% macro noinfo(params) %}
<div class="no-info rounded outline background"
     style="background-color: #c7c7c724; color: #9f9f9f; border: 1px solid transparent;">
    <p>No {{ params.text }} is available for this plant species.</p>
</div>
{% endmacro %}
