---
icon: 👋
permalink: '/about/'
layout: base.njk
title: About Plantbase | Your Indoor Plant Care Companion
description: Learn about Plantbase, your trusted source for beginner-friendly and expert-backed houseplant care guides.
---

<div class="page">
    <div class="page-content">
        <main id="about-page">
            <div style="margin-bottom: 4em;">
                <!-- ABOUT PLANTBASE -->
                <h1 style="margin-bottom: 0;">About Plantbase</h1>
                <h2 style="font-size: 1rem; margin-top: 1em; margin-bottom: 1em; padding: 0;">Plantbase is a free, open-access platform for reliable houseplant care: no ads, no products, just facts.</h2>

                <div style="text-align: justify; display: flex; column-gap: 4em;" class="row">
                    <div style="width:100%">
                        <p>Plantbase is a plant information platform that aims to <strong>collect, organize and publish</strong> accurate information on how to properly take care of your houseplants.</p>

                        <p>The goal of this project is to cut through the noise and misinformation and provide a clear guide on how to tend to your plants.</p>
                    </div>
                    <div style="width:100%">
                        <p>Our growing database contains detailed information sheets, pictures and care instructions for popular houseplants.</p>

                        <p>We strongly believe that plant care information should be <strong>free</strong>, and <strong>rooted in science</strong>.</p>
                    </div>
                </div>

                <h2>Want to contribute?</h2>
                <p>You can request new plants or suggest updates by clicking the <strong>Add a plant</strong> button at the bottom-right of any page. Your feedback helps this site grow.</p>

                <h2>Open plant data</h2>
                <p>All of the plant data is open and freely available on <a href="https://github.com/plant-base" target="_blank">https://github.com/plant-base</a>.</p>
            </div>
        </main>
    </div>
</div>
