---
title: Use Plantbase
description: Plantbase is a plant species API.
icon: 👋
permalink: '/download/'
layout: base.njk
---


<div class="page">
    <div class="page-content">
<main id="article">
    <h1 class="flex align-center"><img class="header-icon" src="/assets/icons/devices.svg" alt="More icon"/>Use Plantbase</h1>
    <p>You can make use of Plantbase in several ways.</p>

    <div class="download-cards">
        <!-- WEBSITE -->
        <div class="download-card background outline rounded shadow">
            <div>
                <h4>This Website</h4>
                <p class="pricing">Free</p>
                <hr>
                <ul>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18"
                             aria-hidden="true">
                            <path fill="currentColor" fill-rule="evenodd"
                                  d="M9 18A9 9 0 1 0 9 0a9 9 0 0 0 0 18Zm3.626-11.687a.7.7 0 0 0-1.252-.626l-3.066 6.131-1.813-1.813a.7.7 0 0 0-.99.99l2.5 2.5a.7.7 0 0 0 1.121-.182l3.5-7Z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <p>Plant information</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18"
                             aria-hidden="true">
                            <path fill="currentColor" fill-rule="evenodd"
                                  d="M9 18A9 9 0 1 0 9 0a9 9 0 0 0 0 18Zm3.626-11.687a.7.7 0 0 0-1.252-.626l-3.066 6.131-1.813-1.813a.7.7 0 0 0-.99.99l2.5 2.5a.7.7 0 0 0 1.121-.182l3.5-7Z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <p>Species search</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18"
                             aria-hidden="true">
                            <path fill="currentColor" fill-rule="evenodd"
                                  d="M9 18A9 9 0 1 0 9 0a9 9 0 0 0 0 18Zm3.626-11.687a.7.7 0 0 0-1.252-.626l-3.066 6.131-1.813-1.813a.7.7 0 0 0-.99.99l2.5 2.5a.7.7 0 0 0 1.121-.182l3.5-7Z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <p>Care guides</p>
                    </li>
                </ul>
            </div>
        </div>

        <!-- MOBILE -->
        <div class="download-card background outline rounded shadow">
            <div>
                <h4>Mobile Application</h4>
                <p class="pricing">Free</p>
                <hr>
                <ul>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18"
                             aria-hidden="true">
                            <path fill="currentColor" fill-rule="evenodd"
                                  d="M9 18A9 9 0 1 0 9 0a9 9 0 0 0 0 18Zm3.626-11.687a.7.7 0 0 0-1.252-.626l-3.066 6.131-1.813-1.813a.7.7 0 0 0-.99.99l2.5 2.5a.7.7 0 0 0 1.121-.182l3.5-7Z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <p>Plant information</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18"
                             aria-hidden="true">
                            <path fill="currentColor" fill-rule="evenodd"
                                  d="M9 18A9 9 0 1 0 9 0a9 9 0 0 0 0 18Zm3.626-11.687a.7.7 0 0 0-1.252-.626l-3.066 6.131-1.813-1.813a.7.7 0 0 0-.99.99l2.5 2.5a.7.7 0 0 0 1.121-.182l3.5-7Z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <p>Species search</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18"
                             aria-hidden="true">
                            <path fill="currentColor" fill-rule="evenodd"
                                  d="M9 18A9 9 0 1 0 9 0a9 9 0 0 0 0 18Zm3.626-11.687a.7.7 0 0 0-1.252-.626l-3.066 6.131-1.813-1.813a.7.7 0 0 0-.99.99l2.5 2.5a.7.7 0 0 0 1.121-.182l3.5-7Z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <p>Care guides</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18"
                             aria-hidden="true">
                            <path fill="currentColor" fill-rule="evenodd"
                                  d="M9 18A9 9 0 1 0 9 0a9 9 0 0 0 0 18Zm3.626-11.687a.7.7 0 0 0-1.252-.626l-3.066 6.131-1.813-1.813a.7.7 0 0 0-.99.99l2.5 2.5a.7.7 0 0 0 1.121-.182l3.5-7Z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <p>Your plant collection</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18"
                             aria-hidden="true">
                            <path fill="currentColor" fill-rule="evenodd"
                                  d="M9 18A9 9 0 1 0 9 0a9 9 0 0 0 0 18Zm3.626-11.687a.7.7 0 0 0-1.252-.626l-3.066 6.131-1.813-1.813a.7.7 0 0 0-.99.99l2.5 2.5a.7.7 0 0 0 1.121-.182l3.5-7Z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <p>Care schedules and tasks</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18"
                             aria-hidden="true">
                            <path fill="currentColor" fill-rule="evenodd"
                                  d="M9 18A9 9 0 1 0 9 0a9 9 0 0 0 0 18Zm3.626-11.687a.7.7 0 0 0-1.252-.626l-3.066 6.131-1.813-1.813a.7.7 0 0 0-.99.99l2.5 2.5a.7.7 0 0 0 1.121-.182l3.5-7Z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <p>Plant identification</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18"
                             aria-hidden="true">
                            <path fill="currentColor" fill-rule="evenodd"
                                  d="M9 18A9 9 0 1 0 9 0a9 9 0 0 0 0 18Zm3.626-11.687a.7.7 0 0 0-1.252-.626l-3.066 6.131-1.813-1.813a.7.7 0 0 0-.99.99l2.5 2.5a.7.7 0 0 0 1.121-.182l3.5-7Z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <p>Works offline, no accounts</p>
                    </li>
                </ul>
            </div>
            <div class="flex" style="flex-direction: column">
                <button type="button" class="disabled">
                    <svg class="w-[20px] h-[20px] text-gray-800 dark:text-white" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                         viewBox="0 0 24 24">
                        <path
                            d="M17.537 12.625a4.421 4.421 0 0 0 2.684 4.047 10.96 10.96 0 0 1-1.384 2.845c-.834 1.218-1.7 2.432-3.062 2.457-1.34.025-1.77-.794-3.3-.794-1.531 0-2.01.769-3.275.82-1.316.049-2.317-1.318-3.158-2.532-1.72-2.484-3.032-7.017-1.27-10.077A4.9 4.9 0 0 1 8.91 6.884c1.292-.025 2.51.869 3.3.869.789 0 2.27-1.075 3.828-.917a4.67 4.67 0 0 1 3.66 1.984 4.524 4.524 0 0 0-2.16 3.805m-2.52-7.432A4.4 4.4 0 0 0 16.06 2a4.482 4.482 0 0 0-2.945 1.516 4.185 4.185 0 0 0-1.061 3.093 3.708 3.708 0 0 0 2.967-1.416Z"/>
                    </svg>
                    Coming soon
                </button>
                <button type="button" class="disabled">
                    <svg class="w-[20px] h-[20px] text-gray-800 dark:text-white" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                         viewBox="0 0 24 24">
                        <path fill-rule="evenodd"
                              d="M5 4a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V4Zm12 12V5H7v11h10Zm-5 1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z"
                              clip-rule="evenodd"/>
                    </svg>
                    Coming soon
                </button>
            </div>
        </div>

        <!-- API -->
        <div class="download-card background outline rounded shadow">
            <div>
                <h4>Plantbase API</h4>
                <p class="pricing">Pricing and availability TBA</p>
                <hr>
                <ul>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18"
                             aria-hidden="true">
                            <path fill="currentColor" fill-rule="evenodd"
                                  d="M9 18A9 9 0 1 0 9 0a9 9 0 0 0 0 18Zm3.626-11.687a.7.7 0 0 0-1.252-.626l-3.066 6.131-1.813-1.813a.7.7 0 0 0-.99.99l2.5 2.5a.7.7 0 0 0 1.121-.182l3.5-7Z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <p>/species endpoint</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18"
                             aria-hidden="true">
                            <path fill="currentColor" fill-rule="evenodd"
                                  d="M9 18A9 9 0 1 0 9 0a9 9 0 0 0 0 18Zm3.626-11.687a.7.7 0 0 0-1.252-.626l-3.066 6.131-1.813-1.813a.7.7 0 0 0-.99.99l2.5 2.5a.7.7 0 0 0 1.121-.182l3.5-7Z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <p>/genera endpoint</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18"
                             aria-hidden="true">
                            <path fill="currentColor" fill-rule="evenodd"
                                  d="M9 18A9 9 0 1 0 9 0a9 9 0 0 0 0 18Zm3.626-11.687a.7.7 0 0 0-1.252-.626l-3.066 6.131-1.813-1.813a.7.7 0 0 0-.99.99l2.5 2.5a.7.7 0 0 0 1.121-.182l3.5-7Z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <p>/familiae endpoint</p>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18"
                             aria-hidden="true">
                            <path fill="currentColor" fill-rule="evenodd"
                                  d="M9 18A9 9 0 1 0 9 0a9 9 0 0 0 0 18Zm3.626-11.687a.7.7 0 0 0-1.252-.626l-3.066 6.131-1.813-1.813a.7.7 0 0 0-.99.99l2.5 2.5a.7.7 0 0 0 1.121-.182l3.5-7Z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <p>/zones endpoint</p>
                    </li>
                </ul>
            </div>
            <div class="flex" style="flex-direction: column">
                <button type="button">Request access</button>
            </div>
        </div>
    </div>
</main>
    </div>
</div>
