{# ---
title: Care Guides
description: Verdure is a plant species API.
icon: 📖
permalink: '/knowledge/'
layout: base.njk
---

<div class="page">
    <div class="page-content">
        <main id="article" style="margin-right: 0;">

            <h1 class="flex align-center">Care Guides</h1>
            <p>Find out how to properly care for your plants.</p>

            <div class="knowledge-cards">
                {% for post in collections.posts | sort(false, false, "data.title") %}
                <a aria-label="{{ post.data.title }}" href="{{ post.url }}">
                    <div class="knowledge-card background outline rounded shadow">
                        <div class="knowledge-card-image">
                            {% coverImage post.url, post.data.title, "(min-width: 1000px) 209px, (min-width: 580px)
                            149px,
                            (min-width: 460px) 119px, (min-width: 380px) 101px" %}
                        </div>
                        <div class="knowledge-card-text">
                            <p>{{ post.data.title }}</p>
                            <p>{{ post.data.subtitle }}</p>
                        </div>
                    </div>
                </a>
                {%- endfor -%}
            </div>
        </main>

    </div>
</div> #}
